openapi: 3.0.3
info:
  title: Stablepay Money API
  description: |
    The Stablepay Money API enables wallet issuers to execute stablecoin-to-fiat
    payouts across Sub-Saharan Africa via M-Pesa, mobile money, and bank transfers.
  version: 0.5.0
  contact:
    name: Stablepay Engineering
    email: hello@stablepay.io

servers:
  - url: https://api.stablepay.ai
    description: Production

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        Stablepay API key. Include as `Authorization: Bearer <key>`.
    AdminBearerAuth:
      type: http
      scheme: bearer
      description: |
        Admin-scoped Stablepay API key.

  schemas:

    # -------------------------------------------------------------------------
    # Shared / enums
    # -------------------------------------------------------------------------
    PaymentCode:
      type: string
      description: |
        Mobile network operator or bank code. Required for money-out payments.
        MNO options: MPESA, MTN, AIRTEL, TIGO, ZAMTEL, HALOTEL, VODAFONE, VODACOM, ORANGE, MOOV, FREE.
        Bank options: OPAY, PALMPAY, MONIEPOINT.

    CurrencyOut:
      type: string
      enum: [CDF, GHS, KES, NGN, TZS, UGX, XAF, XOF, ZMW]
      description: Fiat currency received by the recipient.

    CurrencyIn:
      type: string
      enum: [USDC, USDT]
      description: Stablecoin sent onchain for payment settlement.

    Blockchain:
      type: string
      enum: [BSC, SOLANA]
      description: Blockchain the stablecoin is sent on. Both BSC and Solana are supported.

    PaymentMethod:
      type: string
      enum: [BANK, MOMO, PAYBILL, TILL]
      description: The supported payment method used to deliver funds to the recipient.

    Country:
      type: string
      enum: [BF, BJ, CD, CI, CM, GH, KE, NG, SN, TZ, UG, ZM]
      description: Recipient country code.

    PaymentStatus:
      type: string
      description: |
        Current state of the payment in the state machine.
        `initiated` → `provider_accepted` → `succeeded` | `failed` | `refunded`

    Direction:
      type: string
      enum: [payin, payout]
      description: |
        payout: issuer sends stablecoin → recipient receives fiat.
        payin: customer pays fiat → issuer receives stablecoin.

    UsdcAmount:
      type: string
      description: USDC amount as a decimal string with exactly 6 decimal places. For example, `"10.500000"`.
      example: "10.500"

    XOFCountries:
      type: string
      enum: [BJ, BF, CD, CI, SN]
      description: |
        For XOF payments, the recipient country must be specified.
    
    # -------------------------------------------------------------------------
    # FX convert (informational, no rate lock)
    # -------------------------------------------------------------------------
    FxConvertResponse:
      type: object
      properties:
        convertedAmount:
          type: string
          description: Total converted amount in the destination currency (inclusive of network fee, optional issuer fee and payment fee).
          example: "10.680"
        exchangeRate:
          type: string
          description: Market exchange rate sourced from local liquidity partners (inclusive of network fee and optional issuer fee)
          example: "128.218000"
        paymentFee:
          type: string
          description: |
            The fee comprises the mobile network operator or bank processing fee.
          example: "20"
        expiryTimestamp:
          type: integer
          format: int64
          description: Unix timestamp (seconds) after which this rate expires.
          example: 1750334460
      required: [convertedAmount, exchangeRate, paymentFee, expiryTimestamp]

    # -------------------------------------------------------------------------
    # Payment
    # -------------------------------------------------------------------------
    PaymentResponse:
      type: object
      properties:
        id:
          type: string
          description: Prefixed ULID for this payment.
          example: pay_01HV8KZMRJPQR9S7T3XABCDEF
        status:
          $ref: '#/components/schemas/PaymentStatus'
        direction:
          $ref: '#/components/schemas/Direction'
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
        sourceCurrency:
          $ref: '#/components/schemas/CurrencyIn'
        amountStablecoin:
          type: string
          description: Total stablecoin amount charged.
          example: "10.500"
        fiatAmount:
          type: string
          description: Fiat amount the recipient receives.
          example: "1350"
        destinationCurrency:
          $ref: '#/components/schemas/CurrencyOut'
        providerRef:
          type: string
          nullable: true
          description: Provider's transaction ID. Null until the provider accepts.
          example: CC4SOjQu8UUarKaOGZy9
        reference:
          type: string
          nullable: true
          description: Caller's own reference code (e.g. "csh-txn-20260506-001"). Stored as supplied in the payment request.
          example: csh-txn-20260506-001
        errorCode:
          type: string
          nullable: true
          description: Machine-readable failure code (e.g. `insufficient_funds` or `invalid_account`). Null unless `status` is `failed`.
          example: null
        failureReason:
          type: string
          nullable: true
          description: Human-readable description of why the payment failed. Null unless `status` is `failed`.
          example: null
        depositInstruction:
          allOf:
            - $ref: '#/components/schemas/DepositInstruction'
          nullable: true
          description: |
            Money-in only. Bank account the customer must transfer fiat into to
            complete a bank payin.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required: [id, status, direction, paymentMethod, sourceCurrency, amountStablecoin, fiatAmount, destinationCurrency, providerRef, reference, errorCode, failureReason, createdAt, updatedAt]

    # -------------------------------------------------------------------------
    # Deposit instruction (bank payin)
    # -------------------------------------------------------------------------
    DepositInstruction:
      type: object
      description: |
        Bank details the customer must transfer fiat into to complete a bank
        money-in.
      properties:
        type:
          type: string
          enum: [fiat]
          example: fiat
        bankName:
          type: string
          example: Access Bank
        bankCode:
          type: string
          nullable: true
          example: "000014"
        accountName:
          type: string
          example: Stablepay Defi
        accountNumber:
          type: string
          example: "0123456789"
        expiresAt:
          type: string
          format: date-time
          nullable: true
          description: After this time the deposit account expires and the payment must be re-initiated.
        reference:
          type: string
          nullable: true
          example: csh-txn-20260506-001
      required: [type, bankName, accountName, accountNumber]

    # -------------------------------------------------------------------------
    # Customers
    # -------------------------------------------------------------------------
    Customer:
      type: object
      properties:
        id:
          type: string
          description: Prefixed ULID for this customer.
          example: cus_01KXG3R0X8DXTKB849FFFEPT7Y
        externalId:
          type: string
          example: user001
        type:
          type: string
          enum: [individual, business]
        countryCode:
          type: string
          nullable: true
          example: KE
        kycStatus:
          type: string
          description: One of none, pending, in_progress, review, approved, declined, expired, abandoned.
          example: approved
        kycAttempts:
          type: integer
          example: 1
        riskLevel:
          type: string
          nullable: true
        metadata:
          type: object
          nullable: true
        verifiedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        verificationUrl:
          type: string
          nullable: true
          description: Hosted verification URL. Returned when a verification is started.
          example: https://verify.didit.me/session/XXXX
        sessionId:
          type: string
          nullable: true
        identity:
          type: object
          nullable: true
          description: The verified identity. Returned only with refresh=true.
        reviewWarnings:
          type: array
          nullable: true
          description: |
            Reasons why the customer isn't approved. This is surfaced to show your
            end-user why verification is stuck, declined, or needs action. Omitted when the customer is approved or in_progress. Returned only with refresh=true.
          items:
            type: object
            properties:
              code:
                type: string
                example: COULD_NOT_PERFORM_AML_SCREENING
              severity:
                type: string
                example: error
              feature:
                type: string
                example: aml_screenings
              message:
                type: string
                example: Could not retrieve data from KYC for performing AML Screening.
            required: [code, severity, feature, message]
          example:
            - code: COULD_NOT_PERFORM_AML_SCREENING
              severity: error
              feature: aml_screenings
              message: Could not retrieve data from KYC for performing AML Screening.
      required: [id, externalId, type, kycStatus, kycAttempts, createdAt, updatedAt]

    CustomerWallet:
      type: object
      properties:
        id:
          type: string
          example: cus_wal_01KXG3R0X8DXTKB849FFFEPT7Y
        customerId:
          type: string
          example: cus_01KXG3R0X8DXTKB849FFFEPT7Y
        address:
          type: string
          example: "0xabc123..."
        chain:
          $ref: '#/components/schemas/Blockchain'
        createdAt:
          type: string
          format: date-time
      required: [id, customerId, address, chain, createdAt]

    # -------------------------------------------------------------------------
    # Webhooks outbound
    # -------------------------------------------------------------------------
    WebhookEventResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        eventType:
          type: string
          example: payment.succeeded
        entityId:
          type: string
          example: pay_01HV8KZMRJPQR9S7T3XABCDEF
        url:
          type: string
          format: uri
        status:
          type: string
          enum: [pending, delivered, failed]
        attempt:
          type: integer
        lastError:
          type: string
          nullable: true
        nextRetryAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required: [id, eventType, entityId, url, status, attempt, lastError, nextRetryAt, createdAt, updatedAt]

    # -------------------------------------------------------------------------
    # Account validation
    # -------------------------------------------------------------------------
    ValidateAccountResponse:
      type: object
      properties:
        accountName:
          type: string
          description: Registered account holder name is resolved for Kenya (MPESA, PAYBILL & TILL) and Nigeria (BANK). Returns the phone number for corridors that only support operator detection.
          example: "Jane Doe"
        accountNumber:
          type: string
          description: The account number of the payment method. Must be in E.164 format with the + prefix when paymentMethod is MOMO.
          example: "+254712345678"
        paymentCode:
          type: string
          nullable: true
          description: |
            Carry this value forward directly as `paymentCode` on the payment endpoints.
            PAYBILL / TILL: null — no code applies for these methods.
          example: "MPESA"
        country:
          type: string
          description: Recipient country code as supplied in the request.
          example: "KE"
        currency:
          type: string
          description: Fiat currency derived from the country code. Use as sourceCurrency (payin) or destinationCurrency (payout) in subsequent calls.
          example: "KES"
        paymentMethod:
          type: string
          description: Payment method as supplied in the request.
          example: "MOMO"
      required: [accountName, accountNumber, paymentCode, country, currency, paymentMethod]

    # -------------------------------------------------------------------------
    # Errors
    # -------------------------------------------------------------------------
    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 400
        code:
          type: string
          description: Machine-readable error code.
          example: validation_error
        message:
          type: string
          description: Human-readable error message.
          example: fiatAmount must be a positive number.
      required: [statusCode, message]

paths:

  # ---------------------------------------------------------------------------
  # Account validation
  # ---------------------------------------------------------------------------
  /v1/account/validate:
    post:
      operationId: validateAccount
      summary: Validate a recipient account
      description: |
        Resolve an account number or phone number to its registered name.
      tags: [Account]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountNumber:
                  type: string
                  description: The account number of the payment method. Must be in E.164 format with the + prefix when paymentMethod is MOMO.
                  example: "+254712345678"
                country:
                  type: string
                  enum: [GH, KE, NG, TZ, UG, ZM, CM, CI, SN, BJ, BF, CD, ZA]
                  description: Recipient country code.
                paymentMethod:
                  $ref: '#/components/schemas/PaymentMethod'
                paymentCode:
                  type: string
                  description: |
                    Required when paymentMethod is BANK.
                    NGN bank providers: OPAY | PALMPAY | MONIEPOINT
                    KES bank code: e.g. "01" for Kenya Commercial Bank.
                  example: "OPAY"
              required: [accountNumber, country, paymentMethod]
            examples:
              kesMomo:
                summary: KES M-Pesa number
                value:
                  accountNumber: "+254712345678"
                  country: "KE"
                  paymentMethod: "MOMO"
              kesBank:
                summary: KES bank account
                value:
                  accountNumber: "+254712345678"
                  country: "KE"
                  paymentMethod: "BANK"
                  paymentCode: "01"
              ngnBank:
                summary: NGN bank account
                value:
                  accountNumber: "+254712345678"
                  country: "NG"
                  paymentMethod: "BANK"
                  paymentCode: "OPAY"
              ghsMomo:
                summary: GHS MoMo number (operator auto-detected)
                value:
                  accountNumber: "+233241234567"
                  country: "GH"
                  paymentMethod: "MOMO"
              xafMomo:
                summary: Cameroon MoMo number (operator detected from phone prefix)
                value:
                  accountNumber: "+237650123456"
                  country: "CM"
                  paymentMethod: "MOMO"
      responses:
        "200":
          description: Account resolved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateAccountResponse'
              examples:
                kesMomo:
                  summary: KES M-Pesa (full name resolution)
                  value:
                    accountName: "Jane Doe"
                    accountNumber: "+254712345678"
                    paymentCode: "MPESA"
                    country: "KE"
                    currency: "KES"
                    paymentMethod: "MOMO"
                ghsMomo:
                  summary: GHS MoMo (operator detected, phone used as name)
                  value:
                    accountName: "+233243747787"
                    accountNumber: "+233243747787"
                    paymentCode: "MTN"
                    country: "GH"
                    currency: "GHS"
                    paymentMethod: "MOMO"
                kesBank:
                  summary: KES bank account
                  value:
                    accountName: "John Kamau"
                    accountNumber: "+254712345678"
                    paymentCode: "01"
                    country: "KE"
                    currency: "KES"
                    paymentMethod: "BANK"
                xafMomo:
                  summary: Cameroon MoMo (operator detected from phone prefix)
                  value:
                    accountName: "+237650123456"
                    accountNumber: "+237650123456"
                    paymentCode: "MTN"
                    country: "CM"
                    currency: "XAF"
                    paymentMethod: "MOMO"
        "401":
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Validation error, unsupported currency/method combination, or account not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ---------------------------------------------------------------------------
  # FX convert
  # ---------------------------------------------------------------------------
  /v1/fx/convert:
    get:
      operationId: fxConvert
      summary: Get a live FX rate (informational)
      description: |
        Returns a live indicative exchange rate and fee breakdown.
      tags: [FX]
      parameters:
        - name: amount
          in: query
          required: true
          schema:
            type: number
            example: 1000
          description: Amount to convert
        - name: sourceCurrency
          in: query
          required: true
          schema:
            type: string
            enum: [CDF, GHS, KES, NGN, TZS, UGX, XAF, XOF, ZAR, ZMW]
          example: KES
        - name: destinationCurrency
          in: query
          required: true
          schema:
            type: string
            enum: [USDC, USDT]
          example: USDC
        - name: paymentMethod
          in: query
          required: true
          schema:
            type: string
            enum: [MOMO, BANK, PAYBILL, TILL]
          example: MOMO
        - name: direction
          in: query
          required: true
          schema:
            type: string
            enum: [payout, payin]
          description: |
            payout: issuer sends stablecoin → recipient receives fiat.
            payin: customer pays fiat → issuer receives stablecoin.
          example: payout
        - name: optionalIssuerFee
          in: query
          required: true
          schema:
            type: string
            enum: [YES, NO]
          example: "NO"
        - name: country
          in: query
          required: false
          description: |
            For XOF payments, the recipient country must be specified.
          schema:
            $ref: '#/components/schemas/XOFCountries'
          example: SN
      responses:
        "200":
          description: Indicative FX rate and fee breakdown for the requested corridor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FxConvertResponse'
              examples:
                moneyoutKes:
                  summary: Money-out — KES via M-Pesa
                  value:
                    convertedAmount: "10.680"
                    exchangeRate: "128.218000"
                    paymentFee: "20"
                    expiresAt: "2024-01-15T10:31:30.000Z"
                moneyoutXaf:
                  summary: Money-out — XAF via MTN
                  value:
                    convertedAmount: "8.120"
                    exchangeRate: "622.500000"
                    paymentFee: "50"
                    expiresAt: "2024-01-15T10:31:00.000Z"
                moneyinGhs:
                  summary: Money-in — customer pays GHS, issuer receives USDC
                  value:
                    convertedAmount: "6.062"
                    exchangeRate: "12.866920"
                    paymentFee: "2"
                    expiresAt: "2024-01-15T10:31:30.000Z"
                moneyinXaf:
                  summary: Money-in — customer pays XAF, issuer receives USDC
                  value:
                    convertedAmount: "0.441"
                    exchangeRate: "666.600000"
                    paymentFee: "6"
                    expiresAt: "2024-01-15T10:31:00.000Z"
        "401":
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Validation error — invalid currency pair, unsupported corridor, or missing parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 422
                message: Moneyin is only supported for GHS, KES, NGN, TZS, UGX, ZMW, XAF, XOF, CDF.

  # ---------------------------------------------------------------------------
  # Payments
  # ---------------------------------------------------------------------------
  /v1/payments/in:
    post:
      operationId: submitMoneyin
      summary: Submit a money-in payment
      description: Submit a fiat-to-stablecoin payin.
      tags: [Payments]
      parameters:
        - name: idempotency-key
          in: header
          required: true
          schema:
            type: string
          description: Client-generated UUID. Required to prevent duplicate payments.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fiatAmount, sourceCurrency, destinationCurrency, blockchain, paymentMethod, accountNumber, accountName, paymentCode, reference]
              properties:
                fiatAmount:
                  type: string
                  description: The payment amount in local currency.
                  example: "1000"
                sourceCurrency:
                  type: string
                  enum: [GHS, KES, NGN, TZS, UGX, ZMW, XAF, XOF, CDF]
                  description: Fiat currency sent onchain for payment settlement.
                destinationCurrency:
                  type: string
                  enum: [USDC, USDT]
                  description: Stablecoin received by the recipient.
                blockchain:
                  type: string
                  enum: [BSC, SOLANA]
                  description: Supported blockchains for onchain settlement.
                paymentMethod:
                  type: string
                  enum: [MOMO, BANK]
                  description: The supported payment method used to deliver funds to the recipient.
                accountNumber:
                  type: string
                  description: The account number of the payment method. Must be in E.164 format with the + prefix when paymentMethod is MOMO.
                  example: "+254712345678"
                accountName:
                  type: string
                  description: Recipient full name associated with the payment method.
                  example: "Jane Doe"
                paymentCode:
                  $ref: '#/components/schemas/PaymentCode'
                  description: "Mobile network operator or bank code. Available MNO options: `MPESA`, `MTN`, `AIRTEL`, `TIGO`, `ZAMTEL`, `HALOTEL`, `VODAFONE`, `VODACOM`, `ORANGE`, `MOOV`, `FREE`. Available bank options: `OPAY`, `PALMPAY`, `MONIEPOINT`."
                reference:
                  type: string
                  description: Wallet issuer's unique reference.
                  example: "csh-txn-20260506-001"
                paymentIdentifier:
                  type: string
                  description: A method-specific identifier required for processing the payment. Examples include BVN (BANK) or other market specific references.
                customerId:
                  type: string
                  description: The customer this payment is for. Required when KYC is enabled for your account.
                  example: cus_01KXG3R0X8DXTKB849FFFEPT7Y
            examples:
              kesMomo:
                summary: KES via M-Pesa
                value:
                  fiatAmount: "5000"
                  sourceCurrency: KES
                  destinationCurrency: USDC
                  blockchain: BSC
                  paymentMethod: MOMO
                  accountNumber: "+254712345678"
                  accountName: Jane Doe
                  paymentCode: MPESA
                  reference: order_abc123
              xafMomo:
                summary: XAF via Orange MoMo
                value:
                  fiatAmount: "300"
                  sourceCurrency: XAF
                  destinationCurrency: USDC
                  blockchain: SOLANA
                  paymentMethod: MOMO
                  accountNumber: "+237693329470"
                  accountName: tester
                  paymentCode: ORANGE
                  reference: order_xyz456
      responses:
        "202":
          description: |
            Payment accepted. The provider will collect fiat from the customer asynchronously.
            Listen for the `payment.succeeded` webhook for finality.
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentId:
                    type: string
                    description: Use this ID to track the payment status.
                    example: pay_01HV8KZMRJPQR9S7T3XABCDEF
                  status:
                    type: string
                    example: provider_accepted
                  providerRef:
                    type: string
                    nullable: true
                    description: Provider's internal transaction ID.
                  convertedAmount:
                    type: string
                    description: USDC amount that will be credited to the moneyin wallet after the spread is deducted.
                    example: "37.395"
                  depositInstruction:
                    allOf:
                      - $ref: '#/components/schemas/DepositInstruction'
                    nullable: true
                    description: |
                      For bank payins that require the customer to transfer fiat into a
                      provided account.
                  createdAt:
                    type: string
                    format: date-time
                required: [paymentId, status, convertedAmount, createdAt]
        "400":
          description: Validation error or missing idempotency-key header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: |
            Unprocessable — blockchain/currency mismatch, unsupported corridor, or invalid field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 422
                code: validation_error
                message: "KES requires blockchain=BSC (Honeycoin corridor)"

  /v1/payments/out:
    post:
      operationId: submitMoneyout
      summary: Submit a money-out payment
      description: Submit a stablecoin-to-fiat payout.
      tags: [Payments]
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
          description: Client-generated UUID. Required to prevent duplicate payments.
          example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fiatAmount:
                  type: number
                  description: The payment amount in local currency.
                  example: 1350
                sourceCurrency:
                  $ref: '#/components/schemas/CurrencyIn'
                  description: "Stablecoin sent onchain for payment settlement."
                destinationCurrency:
                  $ref: '#/components/schemas/CurrencyOut'
                  description: Fiat currency received by the recipient.
                country:
                  $ref: '#/components/schemas/Country'
                blockchain:
                  $ref: '#/components/schemas/Blockchain'
                  description: Supported blockchains for onchain settlement.
                paymentMethod:
                  $ref: '#/components/schemas/PaymentMethod'
                  description: The supported payment method used to deliver funds to the recipient.
                accountName:
                  type: string
                  description: Recipient full name associated with the payment method.
                  example: Jane Doe
                accountNumber:
                  type: string
                  description: The account number of the payment method. Must be in E.164 format with the + prefix when paymentMethod is MOMO.
                  example: "+254712345678"
                paymentCode:
                  $ref: '#/components/schemas/PaymentCode'
                  description: "Mobile network operator or bank code. Available MNO options: `MPESA`, `MTN`, `AIRTEL`, `TIGO`, `ZAMTEL`, `HALOTEL`, `VODAFONE`, `VODACOM`, `ORANGE`, `MOOV`, `FREE`. Available bank options: `OPAY`, `PALMPAY`, `MONIEPOINT`."
                
                reference:
                  type: string
                  description: Wallet issuer's unique reference.
                  example: csh-txn-20260506-001
                paymentIdentifier:
                  type: string
                  description: "A method-specific identifier required for processing the payment. Examples include BVN (BANK) Paybill business number (PAYBILL), or other market specific references."
                  example: "123456"
                customerId:
                  type: string
                  description: The customer this payment is for. Required when KYC is enabled for your account.
                  example: cus_01KXG3R0X8DXTKB849FFFEPT7Y
              required:
                - fiatAmount
                - sourceCurrency
                - destinationCurrency
                - country
                - blockchain
                - paymentMethod
                - accountName
                - accountNumber
                - paymentCode
                - reference
            examples:
              kesBscMomo:
                summary: KES via M-Pesa on BSC
                value:
                  fiatAmount: 1350
                  sourceCurrency: USDC
                  destinationCurrency: KES
                  country: KE
                  blockchain: BSC
                  paymentMethod: MOMO
                  accountName: Jane Doe
                  accountNumber: "+254712345678"
                  paymentCode: MPESA
                  reference: csh-txn-20260506-001
              xafSolana:
                summary: XAF via MTN MoMo on Solana
                value:
                  fiatAmount: 5000
                  sourceCurrency: USDC
                  destinationCurrency: XAF
                  country: CM
                  blockchain: SOLANA
                  paymentMethod: MOMO
                  accountName: Jean Dupont
                  accountNumber: "+237612345678"
                  paymentCode: MTN
                  reference: csh-txn-20260506-002
      responses:
        "202":
          description: Payment accepted. Processing is async — poll or await webhook.
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentId:
                    type: string
                    description: Use this ID to track the payment status.
                    example: pay_01HV8KZMRJPQR9S7T3XABCDEF
                  status:
                    type: string
                    example: provider_accepted
                  providerRef:
                    type: string
                    nullable: true
                    description: Provider's internal transaction ID.
                  convertedAmount:
                    type: string
                    description: Fiat amount that will be paid to the recipient after fees are deducted.
                    example: "1350"
                  createdAt:
                    type: string
                    format: date-time
                required: [paymentId, status, convertedAmount, createdAt]
        "400":
          description: Validation error (missing field or bad format).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Idempotency key conflict — same key used with a different request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: |
            Insufficient on-chain USDC balance — the tenant's wallet holds less USDC than the
            payment requires.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 422
                code: insufficient_balance
                message: "Insufficient balance on SOLANA: requested 10.500000 USDC, available 3.200000 USDC."
        "502":
          description: |
            Provider circuit breaker is open — the payment provider has experienced repeated
            failures and is temporarily unavailable. The response includes an estimated
            retry time. No payment record is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 502
                code: provider_unavailable
                message: "circuit open — retrying in ~45s"

  /v1/payments/{paymentId}:
    get:
      operationId: getPayment
      summary: Get a payment
      description: Retrieve a single payment by ID.
      tags: [Payments]
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
          description: The `pay_`-prefixed payment ID.
          example: pay_01HV8KZMRJPQR9S7T3XABCDEF
      responses:
        "200":
          description: Payment found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
              examples:
                succeeded:
                  summary: Succeeded money-out payment
                  value:
                    id: pay_01JXXXX
                    status: succeeded
                    direction: payout
                    paymentMethod: MOMO
                    sourceCurrency: USDC
                    amountStablecoin: "37.395"
                    fiatAmount: "24500"
                    destinationCurrency: XOF
                    providerRef: hc_abc123
                    reference: csh-abc123
                    errorCode: null
                    failureReason: null
                    createdAt: "2026-05-06T10:31:00.000Z"
                    updatedAt: "2026-05-06T10:31:45.000Z"
                failed:
                  summary: Failed payment
                  value:
                    id: pay_01JYYYY
                    status: failed
                    direction: payout
                    paymentMethod: MOMO
                    sourceCurrency: USDC
                    amountStablecoin: "10.000"
                    fiatAmount: "6500"
                    destinationCurrency: XOF
                    providerRef: hc_def456
                    reference: csh-def456
                    errorCode: insufficient_funds
                    failureReason: "Recipient account has insufficient funds to complete the transaction."
                    createdAt: "2026-05-06T10:31:00.000Z"
                    updatedAt: "2026-05-06T10:32:10.000Z"
        "404":
          description: Payment not found or belongs to another tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ---------------------------------------------------------------------------
  # Customers
  # ---------------------------------------------------------------------------
  /v1/customers:
    post:
      operationId: createCustomer
      summary: Create a customer
      description: Create a customer and start KYC. Returns a hosted verification URL.
      tags: [Customers]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                externalId:
                  type: string
                  description: Your own unique identifier for the customer.
                  example: user001
                type:
                  type: string
                  enum: [individual, business]
                email:
                  type: string
                  example: user@example.com
                phone:
                  type: string
                  example: "+254712345678"
                countryCode:
                  type: string
                  description: ISO 3166-1 alpha-2.
                  example: KE
                metadata:
                  type: object
                  description: Optional key-value data. Do not include personal information.
              required:
                - externalId
                - type
      responses:
        "201":
          description: Customer created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        "401":
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: A customer with this externalId already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: listCustomers
      summary: List customers
      description: List your customers, newest first.
      tags: [Customers]
      parameters:
        - name: kycStatus
          in: query
          required: false
          schema:
            type: string
          description: Filter by KYC status.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          example: 20
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          example: 0
      responses:
        "200":
          description: A paginated list of customers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer

  /v1/customers/{customerId}:
    get:
      operationId: getCustomer
      summary: Get a customer
      description: Retrieve a customer by ID.
      tags: [Customers]
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
          example: cus_01KXG3R0X8DXTKB849FFFEPT7Y
        - name: refresh
          in: query
          required: false
          schema:
            type: boolean
          description: When true, fetches the live status and verified identity.
      responses:
        "200":
          description: Customer found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              example:
                id: cus_01...
                externalId: user001
                type: individual
                countryCode: KE
                kycStatus: review
                kycAttempts: 1
                riskLevel: null
                metadata: {}
                verifiedAt: null
                createdAt: "2023-11-07T05:31:56Z"
                updatedAt: "2023-11-07T05:31:56Z"
                verificationUrl: null
                sessionId: null
                identity: null
                reviewWarnings:
                  - code: COULD_NOT_PERFORM_AML_SCREENING
                    severity: error
                    feature: aml_screenings
                    message: Could not retrieve data from KYC for performing AML Screening.
        "404":
          description: Customer not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: updateCustomer
      summary: Update a customer
      description: Update a customer's metadata.
      tags: [Customers]
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
          example: cus_01KXG3R0X8DXTKB849FFFEPT7Y
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
              required:
                - metadata
      responses:
        "200":
          description: Customer updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        "404":
          description: Customer not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/customers/{customerId}/verification:
    post:
      operationId: reverifyCustomer
      summary: Re-verify a customer
      description: Start a new verification for a customer. Limited to 3 retries.
      tags: [Customers]
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
          example: cus_01KXG3R0X8DXTKB849FFFEPT7Y
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                phone:
                  type: string
                metadata:
                  type: object
      responses:
        "201":
          description: Verification started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        "429":
          description: Retry limit reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/customers/{customerId}/wallets:
    post:
      operationId: linkCustomerWallet
      summary: Link a wallet
      description: Link an on-chain wallet address to a customer.
      tags: [Customers]
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
          example: cus_01KXG3R0X8DXTKB849FFFEPT7Y
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  example: "0xAbC123..."
                chain:
                  $ref: '#/components/schemas/Blockchain'
              required:
                - address
                - chain
      responses:
        "201":
          description: Wallet linked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerWallet'
        "409":
          description: This address is already linked to a customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: listCustomerWallets
      summary: List wallets
      description: List a customer's linked wallets.
      tags: [Customers]
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
          example: cus_01KXG3R0X8DXTKB849FFFEPT7Y
      responses:
        "200":
          description: The customer's linked wallets.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerWallet'

  /v1/customers/{customerId}/wallets/{walletId}:
    delete:
      operationId: unlinkCustomerWallet
      summary: Unlink a wallet
      description: Remove a wallet from a customer.
      tags: [Customers]
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
          example: cus_01KXG3R0X8DXTKB849FFFEPT7Y
        - name: walletId
          in: path
          required: true
          schema:
            type: string
          example: cus_wal_01KXG3R0X8DXTKB849FFFEPT7Y
      responses:
        "200":
          description: Wallet unlinked.
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: string
        "404":
          description: Wallet not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ---------------------------------------------------------------------------
  # Webhooks — outbound management (tenant-facing)
  # ---------------------------------------------------------------------------
  /v1/webhooks/register:
    post:
      operationId: registerWebhook
      summary: Register a webhook endpoint
      description: |
        Register a URL to receive outbound event notifications.
        Pass an empty `events` array to subscribe to all event types.
      tags: [Webhooks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  description: Your HTTPS endpoint that will receive POST requests.
                  example: https://app.walletIssuer.io/webhooks/stablepay
                events:
                  type: array
                  items:
                    type: string
                  description: Event types to subscribe to. Empty array = all events.
                  example: ["payment.succeeded", "payment.failed"]
              required: [url]
            example:
              url: https://app.walletIssuer.io/webhooks/stablepay
              events: ["payment.succeeded", "payment.failed", "payment.processing"]
      responses:
        "201":
          description: Webhook registered. Save the `secret` — it is not retrievable after this response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhookId:
                    type: string
                    format: uuid
                    description: Registration ID.
                  url:
                    type: string
                    format: uri
                  events:
                    type: array
                    items:
                      type: string
                  secret:
                    type: string
                    description: |
                      HMAC signing secret — returned **once only**. Store in your secrets manager.
                      Used to verify `Stablepay-Signature` on inbound events.
                    example: "a3f7c2e1d4b8a0..."
                required: [webhookId, url, events, secret]

  /v1/webhooks/events:
    get:
      operationId: listWebhookEvents
      summary: List webhook events
      description: Paginated delivery event log for the authenticated tenant, newest first. Shows status, attempt count, and last error for each event.
      tags: [Webhooks]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Event log.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookEventResponse'

  /v1/webhooks/replay/{event_id}:
    post:
      operationId: replayWebhookEvent
      summary: Replay a webhook event
      description: |
        Re-enqueue a failed webhook delivery for retry. Resets the attempt counter to 0.
        Useful when your endpoint was temporarily down and you want to re-deliver missed events.
      tags: [Webhooks]
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID from the `GET /v1/webhooks/events` response.
      responses:
        "202":
          description: Event re-queued for delivery.
          content:
            application/json:
              schema:
                type: object
                properties:
                  queued:
                    type: boolean
                    example: true
                  webhookOutboundId:
                    type: string
                    format: uuid
                required: [queued, webhookOutboundId]
        "404":
          description: Event not found or belongs to another tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

tags:
  - name: Health
    description: Service liveness check.
  - name: FX
    description: Live FX rate conversion between USDC and local fiat currencies.
  - name: Payments
    description: Submit and track stablecoin-to-fiat payout requests.
  - name: Balances
    description: Live on-chain USDC and native token balances for the tenant's custody wallets.
  - name: Analytics
    description: Pre-aggregated payment analytics — volume, success rates, corridor breakdowns, and daily time series.
  - name: Webhooks
    description: Register endpoints and manage outbound event delivery.
  - name: Admin
    description: Ops-only endpoints for tenant management and payment operations. Requires an admin-scoped API key.
